@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap%27');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap%27');


body {
  font-family: 'Montserrat', sans-serif;
}

/* Header */


h1 {
  position: relative;
  margin-left: 10%;
  margin-top: -15%;
  max-width: max-content;
  background-color: white;
}


#recherche {
  width: 282px;
  height: 36px;
  margin-left: 10%;
  border-radius: 5px;
  border-style: initial;

}



/*......................  NAVBAR  ....................... */

.navbar {
  box-shadow: 0px 3px 7px #00000029;
  position: fixed;
  width: 100%;
  height: 7%;
  background-color: white;
  z-index: 1;
  top: 0;
  border-radius: 2px;
}

#logoADRAR {
  background-color: white;
  position: fixed;
  top: 0px;
  left: 28px;
  z-index: 2;

}

/*  OK NE PAS TOUCHER */
/*........................ FIN NAVBAR .........................*/


/*................. ONGLET HAMBURGER .........................*/

#summary:hover #details:hover {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Puce */
li {
  list-style-type: none;
}
/* Puce FIN*/




/*..... Bouton Hamburger ..... */

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 28px;
  height: 3px;
  background: gray;
  border-radius: 4px;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: gray;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

/*..... Bouton Hamburger FIN ..... */



label input {
  display: none;
}

/*.......... OUVERTURE MENU HAMBURGER ...........*/

.menu__item {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;

  background: white;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;

}

label input:checked+.menu {
  padding-top: 100px;
  background: #fff;
  height: 100vh;
  max-width: 100%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: color 1s ease-in-out;

}

label input:checked+.menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

}

label input:checked+.menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;

}

label input:checked+.menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;

}

label input:checked+.menu+ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 150%;
  left: 50%;
  -webkit-transform: translate(-80%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}


/*........... FIN OUVERTURE MENU HAMBURGER .........*/


/*................. FIN ONGLET HAMBURGER .........................*/

/*................ DEBUT SLIDER ................*/
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.img_slider{
  max-width: 100%;
}
.slider-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 350px;
  overflow: hidden;
}
.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 90%;
  z-index: 150;
  width: 100%;
  bottom: 50%;

}
.menu label {
  cursor: pointer;
  display: inline-block;
  width: 7px;
  height: 7px;
  background: red;
  border-radius: 50px;
  margin: 0 0.1em 10px;
}
.menu label:hover,.menu label:focus {
  background: #1c87c9;
}
.slide-input{
  opacity: 0;
}
#slide-img {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  transition:step-start 0s 0.75s;
}
[id^="slide"]:checked + .slide-img {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}

/*.................... FIN SLIDER .....................*/



/* FOOTER */

/* social_footer */

#social_footer {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: rgba(249, 251, 255, 255);

}

#reseaux_sociaux img {
  padding: 0 1px;
}


#image1 {
  width: 321px;
  height: 54px;
}












/* Menu_footer*/

#container_footer {
  justify-content: center;
  border-top: 1px solid gray;
  background-color: rgba(249, 251, 255, 255);
}

#container_footer div {
  padding: 11px 50px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#mention_legales p {
  display: inline;
}

#mention_legales a {
  text-decoration: underline;
}


/*.........  Essai ..........*/
